[submodule "vimconf/vim/bundle/tabular"]
	path = vimconf/vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vimconf/vim/bundle/vim-fugitive"]
	path = vimconf/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vimconf/vim/bundle/vim-git"]
	path = vimconf/vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "vimconf/vim/bundle/vim-surround"]
	path = vimconf/vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vimconf/vim/bundle/command-t"]
	path = vimconf/vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vimconf/vim/bundle/FastFold"]
	path = vimconf/vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "vimconf/vim/bundle/lexima.vim"]
	path = vimconf/vim/bundle/lexima.vim
	url = git@github.com:cohama/lexima.vim.git
[submodule "vimconf/vim/bundle/syntastic"]
	path = vimconf/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vimconf/vim/bundle/vim-fish"]
	path = vimconf/vim/bundle/vim-fish
	url = git@github.com:dag/vim-fish.git
