[submodule "vimconf/vim/bundle/tabular"]
	path = vimconf/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimconf/vim/bundle/vim-git"]
	path = vimconf/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vimconf/vim/bundle/pyflakes"]
	path = vimconf/vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vimconf/vim/bundle/vim-fugitive"]
	path = vimconf/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimconf/vim/bundle/vim-surround"]
	path = vimconf/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
